* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(42, 42, 42);
  height: 50px;
}

ul {
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin: 0 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

nav .right-align {
  display: flex;
  flex-direction: row-reverse;
}

h1 {
  text-align: center;
  padding: 20px;
}

.formField {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 100px auto;
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 auto 10px;
  background-color: #41a345;
  color: white;
  cursor: pointer;
}
.success {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 auto 10px;
  background-color: #1ea1f1;
  color: white;
}
.error {
  color: red;
  padding-bottom: 10px;
  margin: 10px;
}
